
    <!--- Begining of Header-->
    <div id="headerContainer">
        <div id="hamburguer"><img src="../../assets/img/menu.svg" alt=""></div>
        <div id="pin"><img src="../../assets/img/location-pin.svg" alt="locationPin"></div>
        <div id="country">Colombia</div>
        <div id="language">
            <Select>
                <option value="Español" selected="selected">Español</option>
            </Select>
        </div>
        
        <div id="deliveryPromo"><b>Envios gratuitos por compras superiores a USD $30</b></div>
        <div id="browser">
            <form class="searchBar">
                <input class="searchControl" type="search" placeholder="Buscar en acuacompany.com" aria-label="Search">
                <button class="searchButton" type="submit"><img src="../../assets/img/search.svg" alt="loupe"></button>
            </form>
        </div>
        <div id="ownAccount"><a routerLink="Ingreso">Ingresar/Registrarse</a> </div>
        <div id="store"><a routerLink="Oficina">Oficina</a> </div>
        <div id="bag"><a href=""> <img src="../../assets/img/bag.svg" alt="bagStore"></a> </div>
    </div>
    <!--Finish of header-->
