<app-menu></app-menu>
<!--Begining of index's content-->
<div id="indexContent">
  <div class="containerVirtualOffice">
    <div class="panelHeader">
      <div class="leftHeader"></div>
      <div class="rightHeader">
        <div class="decorationHeader"></div>
        <h3>Generar Ticket</h3>
        <div class="decorationHeader"></div>
        <div class="decorationTitle"></div>
      </div>
    </div>
    <div class="panels">
      <div class="leftPanel">
        <!-- Ticket 1-->
        <div class="tickets">
          <div class="ticket">
            <div class="ticketHeader">
              <div class="header">
                <span class="ticketTitle">TICKET</span>
                <span class="ticketNumber">#52498</span>
              </div>
              <div class="date">25 de Junio de 2020</div>
            </div>
            <div class="ticketInfo">
              <div class="ticketType">PETICIÓN</div>
              <div class="ticketState" style="background-color: #0cd276">
                Resuelto
              </div>
            </div>
            <div class="abrirCerrar">
              <span>+</span>
            </div>
          </div>
          <div class="ticketDetail">
            <div class="customerMessage">
              <div class="ownerMessage">
                <div class="messageIcon">YO</div>
                <div class="iconDecoration"></div>
              </div>
              <div class="textMessage">
                <div class="message">
                  Hola deseo obtener información de los datos personales que
                  tienen de mi, para saber que puedo borrar o conservar
                </div>
              </div>
            </div>
            <div class="acuaMessage">
              <div class="ownerMessage">
                <div class="iconDecoration"></div>
                <div class="messageIcon">
                  <img src="../../../../assets/img/favicon.png" alt="" />
                </div>
              </div>
              <div class="textMessage">
                <div class="message">
                  Buenos días, claro que sí, según la Ley 1581 de protección de
                  datos usted podrá solicitar su información contenida en
                  nuestra base de datos y en cualquier momento podrá solicitar
                  su eliminación.
                </div>
              </div>
            </div>
            <div class="sendMessage">
              <div class="writeMessage">
                <span class="text" role="textbox" contenteditable></span>
                <!--textarea name="" class="text" id="" rows="1" placeholder="Escribir mensaje aquí"></textarea-->
                <div class="include">
                  <img src="../../../../assets/img/paper-clip.svg" alt="" />
                </div>
              </div>
              <div class="send">
                <img src="../../../../assets/img/right-arrow_2.svg" alt="" />
              </div>
            </div>
          </div>
        </div>

        <!-- Ticket 2-->
        <div class="tickets">
          <div class="ticket">
            <div class="ticketHeader">
              <div class="header">
                <span class="ticketTitle">TICKET</span>
                <span class="ticketNumber">#51225</span>
              </div>
              <div class="date">12 de Junio de 2020</div>
            </div>
            <div class="ticketInfo">
              <div class="ticketType">RECLAMO</div>
              <div class="ticketState" style="background-color: #ffb301">
                Cerrado
              </div>
            </div>
            <div class="abrirCerrar">
              <span>+</span>
            </div>
          </div>
          <div class="ticketDetail">
            <div class="customerMessage">
              <div class="ownerMessage">
                <div class="messageIcon">YO</div>
                <div class="iconDecoration"></div>
              </div>
              <div class="textMessage">
                <div class="message">
                  Hola deseo obtener información de los datos personales que
                  tienen de mi, para saber que puedo borrar o conservar
                </div>
              </div>
            </div>
            <div class="acuaMessage">
              <div class="ownerMessage">
                <div class="iconDecoration"></div>
                <div class="messageIcon">
                  <img src="../../../../assets/img/favicon.png" alt="" />
                </div>
              </div>
              <div class="textMessage">
                <div class="message">
                  Buenos días, claro que sí, según la Ley 1581 de protección de
                  datos usted podrá solicitar su información contenida en
                  nuestra base de datos y en cualquier momento podrá solicitar
                  su eliminación.
                </div>
              </div>
            </div>
            <div class="sendMessage">
              <div class="writeMessage">
                <span class="text" role="textbox" contenteditable></span>
                <!--textarea name="" class="text" id="" rows="1" placeholder="Escribir mensaje aquí"></textarea-->
                <div class="include">
                  <img src="../../../../assets/img/paper-clip.svg" alt="" />
                </div>
              </div>
              <div class="send">
                <img src="../../../../assets/img/right-arrow_2.svg" alt="" />
              </div>
            </div>
          </div>
        </div>

        <!-- Ticket 3-->
        <div class="tickets">
          <div class="ticket">
            <div class="ticketHeader">
              <div class="header">
                <span class="ticketTitle">TICKET</span>
                <span class="ticketNumber">#50648</span>
              </div>
              <div class="date">05 de Junio de 2020</div>
            </div>
            <div class="ticketInfo">
              <div class="ticketType">PETICIÓN</div>
              <div class="ticketState">Abierto</div>
            </div>
            <div class="abrirCerrar">
              <span>+</span>
            </div>
          </div>
          <div class="ticketDetail">
            <div class="customerMessage">
              <div class="ownerMessage">
                <div class="messageIcon">YO</div>
                <div class="iconDecoration"></div>
              </div>
              <div class="textMessage">
                <div class="message">
                  Hola deseo obtener información de los datos personales que
                  tienen de mi, para saber que puedo borrar o conservar
                </div>
              </div>
            </div>
            <div class="acuaMessage">
              <div class="ownerMessage">
                <div class="iconDecoration"></div>
                <div class="messageIcon">
                  <img src="../../../../assets/img/favicon.png" alt="" />
                </div>
              </div>
              <div class="textMessage">
                <div class="message">
                  Buenos días, claro que sí, según la Ley 1581 de protección de
                  datos usted podrá solicitar su información contenida en
                  nuestra base de datos y en cualquier momento podrá solicitar
                  su eliminación.
                </div>
              </div>
            </div>
            <div class="sendMessage">
              <div class="writeMessage">
                <span class="text" role="textbox" contenteditable></span>
                <!--textarea name="" class="text" id="" rows="1" placeholder="Escribir mensaje aquí"></textarea-->
                <div class="include">
                  <img src="../../../../assets/img/paper-clip.svg" alt="" />
                </div>
              </div>
              <div class="send">
                <img src="../../../../assets/img/right-arrow_2.svg" alt="" />
              </div>
            </div>
          </div>
        </div>

        <!-- Ticket 4-->
        <div class="tickets">
          <div class="ticket">
            <div class="ticketHeader">
              <div class="header">
                <span class="ticketTitle">TICKET</span>
                <span class="ticketNumber">#50647</span>
              </div>
              <div class="date">03 de Junio de 2020</div>
            </div>
            <div class="ticketInfo">
              <div class="ticketType">QUEJA</div>
              <div class="ticketState">Abierto</div>
            </div>
            <div class="abrirCerrar">
              <span>+</span>
            </div>
          </div>
          <div class="ticketDetail">
            <div class="customerMessage">
              <div class="ownerMessage">
                <div class="messageIcon">YO</div>
                <div class="iconDecoration"></div>
              </div>
              <div class="textMessage">
                <div class="message">
                  Hola deseo obtener información de los datos personales que
                  tienen de mi, para saber que puedo borrar o conservar
                </div>
              </div>
            </div>
            <div class="acuaMessage">
              <div class="ownerMessage">
                <div class="iconDecoration"></div>
                <div class="messageIcon">
                  <img src="../../../../assets/img/favicon.png" alt="" />
                </div>
              </div>
              <div class="textMessage">
                <div class="message">
                  Buenos días, claro que sí, según la Ley 1581 de protección de
                  datos usted podrá solicitar su información contenida en
                  nuestra base de datos y en cualquier momento podrá solicitar
                  su eliminación.
                </div>
              </div>
            </div>
            <div class="sendMessage">
              <div class="writeMessage">
                <span class="text" role="textbox" contenteditable></span>
                <!--textarea name="" class="text" id="" rows="1" placeholder="Escribir mensaje aquí"></textarea-->
                <div class="include">
                  <img src="../../../../assets/img/paper-clip.svg" alt="" />
                </div>
              </div>
              <div class="send">
                <img src="../../../../assets/img/right-arrow_2.svg" alt="" />
              </div>
            </div>
          </div>
        </div>

        <!-- Ticket 5-->
        <div class="tickets">
          <div class="ticket">
            <div class="ticketHeader">
              <div class="header">
                <span class="ticketTitle">TICKET</span>
                <span class="ticketNumber">#42868</span>
              </div>
              <div class="date">01 de Junio de 2020</div>
            </div>
            <div class="ticketInfo">
              <div class="ticketType">SUGERENCIA</div>
              <div class="ticketState">Abierto</div>
            </div>
            <div class="abrirCerrar">
              <span>+</span>
            </div>
          </div>
          <div class="ticketDetail">
            <div class="customerMessage">
              <div class="ownerMessage">
                <div class="messageIcon">YO</div>
                <div class="iconDecoration"></div>
              </div>
              <div class="textMessage">
                <div class="message">
                  Hola deseo obtener información de los datos personales que
                  tienen de mi, para saber que puedo borrar o conservar
                </div>
              </div>
            </div>
            <div class="acuaMessage">
              <div class="ownerMessage">
                <div class="iconDecoration"></div>
                <div class="messageIcon">
                  <img src="../../../../assets/img/favicon.png" alt="" />
                </div>
              </div>
              <div class="textMessage">
                <div class="message">
                  Buenos días, claro que sí, según la Ley 1581 de protección de
                  datos usted podrá solicitar su información contenida en
                  nuestra base de datos y en cualquier momento podrá solicitar
                  su eliminación.
                </div>
              </div>
            </div>
            <div class="sendMessage">
              <div class="writeMessage">
                <span class="text" role="textbox" contenteditable></span>
                <div class="include">
                  <img src="../../../../assets/img/paper-clip.svg" alt="" />
                </div>
              </div>
              <div class="send">
                <img src="../../../../assets/img/right-arrow_2.svg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="rightPanel">
        <div class="ticketForm">
          <div class="radioButtons">
            <div class="radioButton">
              <input type="radio" name="pqrsf" id="request-rb" />
              <label for="request-rb">Peticion</label>
            </div>
            <div class="radioButton">
              <input type="radio" name="pqrsf" id="complain-rb" />
              <label for="complain-rb">Queja</label>
            </div>
            <div class="radioButton">
              <input type="radio" name="pqrsf" id="claim-rb" />
              <label for="claim-rb">Reclamo</label>
            </div>
            <div class="radioButton">
              <input type="radio" name="pqrsf" id="suggestion-rb" />
              <label for="suggestion-rb">Sugerencia</label>
            </div>
            <div class="radioButton">
              <input type="radio" name="pqrsf" id="felicitation-rb" />
              <label for="felicitation-rb">Felicitación</label>
            </div>
          </div>
          <div class="inputForm">
            <input type="email" id="email" placeholder="Correo electrónico" />
            <span>*</span>
            <div></div>
          </div>
          <div class="inputForm">
            <input type="text" id="subject" placeholder="Asunto" />
            <span>*</span>
            <div></div>
          </div>
          <div class="inputForm">
            <input type="text" id="orderNumber" placeholder="Número de pedido" />
            <span class="hidden">*</span>
            <div></div>
          </div>
          <div class="inputForm">
            <input type="text" id="reason" placeholder="Motivo de la consulta" />
            <span>*</span>
            <div></div>
          </div>
          <div class="inputForm">
            <textarea id="description" placeholder="Descripción"></textarea>
            <span>*</span>
            <div></div>
          </div>
          <div class="attach">
            <input type="file" name="file" id="file" class="inputfile" multiple="multiple" />
            <label for="file"><span>+</span>Adjuntar archivos</label>
          </div>
          <div class="buttons">
            <button class="send" onclick="">Enviar</button>
            <button class="cancel" onclick="">Cancelar</button>
          </div>
        </div>
      </div>
    </div>

    <!--Finish of index's footer-->
  </div>
</div>