<app-menu></app-menu>
<div id="indexContent">
    <div class="oficinaVirtualContainer">

        <div id="registry">

            <div class="form">

                <div style="padding: 10px">
                    <input type="text" style="width: 90%; float: left; display:block; margin-right: 5px; height: 26px;
                        border-width: 2px; border-color: #70707036; color: #707070;" name="nombre" id="nombre"
                        placeholder=" Nombres" required>
                    <div class="asteriskCenter"><img class="imgAsterisk" src="../../../../assets/img/Asterisk.svg"
                            alt="asterisk">
                    </div>
                    <br>
                    <br>
                    <input type="text" style="width: 90%; float: left; display:block; margin-right: 5px; height: 26px;
                        border-width: 2px; border-color: #70707036; color: #707070;" id="lastName"
                        placeholder="  Apellidos" required>
                    <div class="asteriskCenter"><img class=" imgAsterisk" src="../../../../assets/img/Asterisk.svg"
                            alt="asterisk">
                    </div>
                    <br>
                    <br>
                    <div>
                        <input type="text" style="width: 43%; float: left; display:block; margin-right: 5px; height: 26px;
                        border-width: 2px; border-color: #70707036; color: #707070;"
                            placeholder="  Fecha de nacimiento" required>

                        <img class="imgAsterisk" src="../../../../assets/img/Asterisk.svg" alt="asterisk">


                    </div>
                    <div>
                        <select name="genero" style="width: 43%; float: left; display:block; margin-right: 5px; height: 26px;
                            border-width: 2px; border-color: #70707036; color: #707070;" required>
                            <option value="">Genero</option>
                            <option value="Femenino">Femenino</option>
                            <option value="Masculino">Masculino</option>
                        </select>
                        <div class="asteriskCenter"><img class="imgAsterisk" src="../../../../assets/img/Asterisk.svg"
                                alt="asterisk">
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <input type="text" style="width: 90%; float: left; display:block; margin-right: 5px; height: 26px;
                        border-width: 2px; border-color: #70707036; color: #707070;" id="departament"
                        placeholder="  Estado - Departamento" required>
                    <div class="asteriskCenter"><img class="imgAsterisk" src="../../../../assets/img/Asterisk.svg"
                            alt="asterisk">
                    </div>
                    <br>
                    <br>
                    <input type="text" style="width: 90%; float: left; display:block; margin-right: 5px; height: 26px;
                        border-width: 2px; border-color: #70707036; color: #707070;" id="ciudad"
                        placeholder="  Ciudad - Municipio" required>
                    <div class="asteriskCenter"><img class="imgAsterisk" src="../../../../assets/img/Asterisk.svg"
                            alt="asterisk">
                    </div>
                    <br>
                    <br>
                    <input type="text" style="width: 90%; float: left; display:block; margin-right: 5px; height: 26px;
                        border-width: 2px; border-color: #70707036; color: #707070;" id="address"
                        placeholder="  Dirección de residencia" required>
                    <div class="asteriskCenter"><img class="imgAsterisk" src="../../../../assets/img/Asterisk.svg"
                            alt="asterisk">
                    </div>
                    <br>
                    <br>
                    <input type="text" style="width: 29%; float: left; display:block; margin-right: 5px; height: 26px;
                        border-width: 2px; border-color: #70707036; color: #707070;" id="casa" placeholder="  Casa">


                    <input type="text" style="width: 26%; float: left; display:block; margin-right: 5px; height: 26px;
                        border-width: 2px; border-color: #70707036; color: #707070;" id="torre" placeholder="  Torre">


                    <input type="text" style="width: 29%; float: left; display:block; margin-right: 5px; height: 26px;
                        border-width: 2px; border-color: #70707036; color: #707070;" id="apartamento"
                        placeholder="  Apartamento">
                    <br>
                    <br>
                    <br>
                    <input type="text" style="width: 90%; float: left; display:block; margin-right: 5px; height: 26px;
                        border-width: 2px; border-color: #70707036; color: #707070;" id="tel"
                        placeholder="  Teléfono de contacto" required>
                    <div class="asteriskCenter"><img class="imgAsterisk" src="../../../../assets/img/Asterisk.svg"
                            alt="asterisk">
                    </div>
                    <br>
                    <br>
                </div>



            </div>

        </div>


        <div id="login">
            <div class="title">
                <div class="separadorH">
                    <hr>
                </div>
                <div id="textHeaderIndex">
                    <p>CONTRASEÑA</p>
                </div>
                <div class="separadorH">
                    <hr>
                </div>
            </div>
            <div class="form">
                <br>
                <input type="password" style="width: 90%; float: left; display:block; margin-right: 5px; height: 26px;
                        border-width: 2px; border-color: #70707036; color: #707070;" id="password"
                    placeholder="  Contraseña actual">

                <div class="asteriskCenter"><img class="imgAsterisk" src="../../../../assets/img/Asterisk.svg"
                        alt="asterisk">
                </div>
                <br>
                <br>
                <input type="password" style="width: 90%; float: left; display:block; margin-right: 5px; height: 26px;
                        border-width: 2px; border-color: #70707036; color: #707070;" placeholder="  Nueva contraseña">

                <div class="asteriskCenter"><img class="imgAsterisk" src="../../../../assets/img/Asterisk.svg"
                        alt="asterisk">
                </div>
                <br>
                <br>
                <input type="password" style="width: 90%; float: left; display:block; margin-right: 5px; height: 26px;
                        border-width: 2px; border-color: #70707036; color: #707070;"
                    placeholder="  Confirma nueva contraseña">

                <div class="asteriskCenter"><img class="imgAsterisk" src="../../../../assets/img/Asterisk.svg"
                        alt="asterisk">
                </div>
                <br>
                <br>

                <div class="buttonGuardarCambios">
                    <div class="enlace">
                        <a target="_blank" href="">Guardar Cambios</a>
                    </div>
                </div>

            </div>
        </div>

    </div>


</div>