
        <!--Begining of index's content-->
    
        <div id="indexContent">
            <div id="logoCell"><a href="index.html"><img src="../../assets/img/Logo Acua fondo Transparente.png" alt="logo"></a>
             </div>
            <!--Header-->
            <div id="headerIndex">
                <div id=containerHeaderIndex>
                    <div class="separadorH">
                        <hr>
                    </div>
                    <div id="textHeaderIndex">
                        <p>BOUTIQUE ONLINE</p>
                    </div>
                    <div class="separadorH">
                        <hr>
                    </div>
                </div>
            </div>
            <!--Slider-->
            <div class="mainSlider">
                <div class="sliderContainer">
                    <section class="background mySlides">
                        <img src="../../assets/img/slider1.svg" alt="">
                    </section>
                    <section class="background mySlides">
                        <img src="../../assets/img/slider2.svg" alt="">
                    </section>
                    <section class="background mySlides">
                        <img src="../../assets/img/slider3.svg" alt="">
                    </section>
                    <section class="background mySlides">
                        <img src="../../assets/img/slider4.svg" alt="">
                    </section>
                    <section class="background mySlides">
                        <img src="../../assets/img/slider1.svg" alt="">
                    </section>
    
                    
                </div>
                
                    <!-- Next and previous buttons -->
                    <a class="prev" onclick="plusSlides(-1)"><img src="../../assets/img/left-arrow.svg" alt=""></a>
                    <a class="next" onclick="plusSlides(1)"><img src="../../assets/img/right-arrow.svg" alt=""></a>
            </div>
            <br>
    
            <!-- Lower Control  -->
            <div style="text-align:center" class="controls">
                <span class="lowerControl" onclick="currentSlide(1)"></span>
                <span class="lowerControl" onclick="currentSlide(2)"></span>
                <span class="lowerControl" onclick="currentSlide(3)"></span>
                <span class="lowerControl" onclick="currentSlide(4)"></span>
            </div>
    
            <!--Sections-->
            <div id="sectionsIndex">
                <div class="mainSection" >
                    <img src="../../assets/img/section1.jpg" alt="">
                    <div class="textSection">
                        <p>Mujeres</p>
                        Aromas 2020
                    </div>
                </div>
                <div class="mainSection" >
                    <img src="../../assets/img/section2.jpg" alt="">
                    <div class="textSection">
                        <p>Hombres</p>
                        Aromas 2020
                    </div>
                </div>
                <div class="mainSection" >
                    <img src="../../assets/img/section3.jpg" alt="">
                    <div class="textSection">
                        <p> Accesorios</p>
                        Aromas 2020
                    </div>
                </div>
            </div>
    
            <!--Create Perfume-->
    
            <section class="createPerfume">
                <div id="piano">
                    <img src="../../assets/img/essentia.jpg" alt="Crea tu perfume">
                </div>
                <div class="textR">
                    <h1 id="tituloUnico">¡Por que eres ÚNICO!</h1>
                    <p>Creamos tu perfume según tus preferencias. Nadie más olerá como tú. <br><br>
    
                        Un perfume de máxima calidad, creado con los más selectos aromas
                        naturales y los compuestos de síntesis más innovadores.</p>
                    <div class="buttonCreate">
                        <div class="enlace">
                            <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScX-isuFM3TzlR2m3641Jv4ofRuZfiraiexUlQG22hZQeG6tA/viewform?usp=pp_url">Crear Perfume</a>
                        </div>                
                    </div> 
                </div>
            </section>
    
            <!-- Finish Create Perfume-->
            
        </div>
