<app-menu></app-menu>
<!--Begining of index's content-->
<div id="indexContent">
    <div class="oficinaVirtualContainer">
        <!--Accordion #1 -->
        <div class="container">
            <div class="grid-container">
                <div class="grid-col">
                    <div class="Title-1">Fecha de Pedido</div>
                    <div class="SubTitle-1">20 de Junio de 2020</div>
                </div>
                <div class="grid-col">
                    <div class="Title-2">TOTAL</div>
                    <div class="SubTitle-2">$ 179.949,00</div>
                </div>
                <div class="grid-col-right">
                    <div class="Title-3">#82620200905-01</div>
                    <div class="boton bg-warning">Elaboración</div>
                </div>
                <div class="col-right">
                    <div class="Title-5">+</div>

                </div>
            </div>
        </div>
        <div class="panel">
            <div class="Title-4">ESTADO DEL PEDIDO</div>
            <div class="sectionPanel">
                <img src="../../../../assets/img/pedidos.png" alt="perfume" width="100%">
            </div>

            <div class="Title-4">DETALLES</div>
            <div class="sectionPanel">
                <div class="grid-details ">
                    <div class="grid-2 ">
                        <div class="Title-4 ">DIRECCIÓN DE ENTREGA</div>
                        <div class="textPanel ">Carrera 17 # 30 - 54 Casa 23 Torre 13 - Apartamento - 451 131111 Chía
                            CUNDINAMARCA Colombia </div>
                    </div>
                    <div class="grid-3 ">
                        <div class="Title-4 ">RECOMENDACIONES</div>
                        <div class="textPanel ">Ninguna</div>
                    </div>
                    <div class="grid-4 ">
                        <div class="Title-4 ">TIPO COMPRA</div>
                        <div class="textPanel ">Personal</div>
                    </div>
                </div>
            </div>
            <div class="Title-4 ">PRODUCTOS</div>
            <div class="sectionPanel">
                <div class="grid-products">
                    <div class="grid-img">
                        <img src="../../../../assets/img/Perfume.png" alt="perfume" width="100%">
                    </div>
                    <div>
                        <div class="Title-4 ">PERFUME PERSONALIZADO - ANASTACIA</div>
                        <div class="textPanel ">Entrega estimada hasta 18/08/2020</div>
                        <div class="textPanel "><b><u>Rastrear Pedido: 61410077996</u></b></div>
                    </div>
                    <div>
                        <div class="Title-4 ">CANTIDAD</div>
                        <div class="textPanel "><b>1 und.</b></div>
                    </div>
                    <div>
                        <div class="Title-4 ">PRECIO</div>
                        <div class="textPanel "><b>$48.600,00</b></div>
                    </div>
                    <div>
                        <div class="Title-4 ">IVA</div>
                        <div class="textPanel "><b>$11.400,00</b></div>
                    </div>
                    <div>
                        <div class="Title-4 ">SUBTOTAL</div>
                        <div class="textPanel "><b>$60.000,00</b></div>
                    </div>
                    <div>
                        <div class="Title-4 right ">HACER PEDIDO DE NUEVO</div>
                    </div>

                </div>
            </div>
            <div class="sectionPanel ">
                <div class="grid-products ">
                    <div class="grid-img ">
                        <img src="../../../../assets/img/humificador.png" alt="perfume" width="100%">
                    </div>
                    <div>
                        <div class="Title-4">HUMIFICADOR ULTRASONICO ACUA</div>
                        <div class="textPanel">Entrega estimada hasta 18/08/2020</div>
                        <div class="textPanel"><b><u>Rastrear Pedido: 61410077996</u></b></div>
                    </div>
                    <div>
                        <div class="Title-4">CANTIDAD</div>
                        <div class="textPanel"><b>1 und.</b></div>
                    </div>
                    <div>
                        <div class="Title-4">PRECIO</div>
                        <div class="textPanel"><b>$97.158,69</b></div>
                    </div>
                    <div>
                        <div class="Title-4">IVA</div>
                        <div class="textPanel"><b>$22.790,31</b></div>
                    </div>
                    <div>
                        <div class="Title-4">SUBTOTAL</div>
                        <div class="textPanel"><b>$119.494,00</b></div>
                    </div>
                    <div>
                        <div class="Title-4 right">HACER PEDIDO DE NUEVO</div>
                    </div>

                </div>
            </div>
        </div>


        <!--Accordion #2 -->
        <div class=" container">
            <div class="grid-container ">
                <div class="grid-col ">
                    <div class="Title-1 ">Fecha de Pedido</div>
                    <div class="SubTitle-1 ">20 de Junio de 2020</div>
                </div>
                <div class="grid-col ">
                    <div class="Title-2 ">TOTAL</div>
                    <div class="SubTitle-2 ">$ 90.850,00</div>
                </div>
                <div class="grid-col-right ">
                    <div class="Title-3 ">#82620200905-01</div>
                    <div class="boton bg-danger ">Cancelado</div>
                </div>
                <div class="col-right ">
                    <div class="Title-5 ">+</div>

                </div>
            </div>
        </div>
        <div class="panel">
            <div class="Title-4 ">ESTADO DEL PEDIDO</div>
            <div class="sectionPanel">
                <img src="../../../../assets/img/pedidos.png" alt="perfume" width="100%">
            </div>

            <div class="Title-4 ">DETALLES</div>
            <div class="sectionPanel ">
                <div class="grid-details">
                    <div class="grid-2 ">
                        <div class="Title-4">DIRECCIÓN DE ENTREGA</div>
                        <div class="textPanel">Carrera 17 # 30 - 54 Casa 23 Torre 13 - Apartamento - 451 131111 Chía
                            CUNDINAMARCA Colombia </div>
                    </div>
                    <div class="grid-3 ">
                        <div class="Title-4">RECOMENDACIONES</div>
                        <div class="textPanel">Ninguna</div>
                    </div>
                    <div class="grid-4 ">
                        <div class="Title-4">TIPO COMPRA</div>
                        <div class="textPanel">Personal</div>
                    </div>
                </div>
            </div>
            <div class="Title-4">PRODUCTOS</div>
            <div class="sectionPanel">
                <div class="grid-products">
                    <div class="grid-img">
                        <img src="../../../../assets/img/Perfume.png" alt="perfume" width="100%">
                    </div>
                    <div>
                        <div class="Title-4 ">PERFUME PERSONALIZADO - ANASTACIA</div>
                        <div class="textPanel ">Entrega estimada hasta 18/08/2020</div>
                        <div class="textPanel "><b><u>Rastrear Pedido: 61410077996</u></b></div>
                    </div>
                    <div>
                        <div class="Title-4 ">CANTIDAD</div>
                        <div class="textPanel "><b>1 und.</b></div>
                    </div>
                    <div>
                        <div class="Title-4 ">PRECIO</div>
                        <div class="textPanel "><b>$48.600,00</b></div>
                    </div>
                    <div>
                        <div class="Title-4 ">IVA</div>
                        <div class="textPanel "><b>$11.400,00</b></div>
                    </div>
                    <div>
                        <div class="Title-4 ">SUBTOTAL</div>
                        <div class="textPanel "><b>$60.000,00</b></div>
                    </div>
                    <div>
                        <div class="Title-4 right ">HACER PEDIDO DE NUEVO</div>
                    </div>

                </div>
            </div>
            <div class="sectionPanel ">
                <div class="grid-products ">
                    <div class="grid-img ">
                        <img src="../../../../assets/img/humificador.png" alt="perfume " width="100%">
                    </div>
                    <div>
                        <div class="Title-4">HUMIFICADOR ULTRASONICO ACUA</div>
                        <div class="textPanel">Entrega estimada hasta 18/08/2020</div>
                        <div class="textPanel"><b><u>Rastrear Pedido: 61410077996</u></b></div>
                    </div>
                    <div>
                        <div class="Title-4">CANTIDAD</div>
                        <div class="textPanel"><b>1 und.</b></div>
                    </div>
                    <div>
                        <div class="Title-4">PRECIO</div>
                        <div class="textPanel"><b>$97.158,69</b></div>
                    </div>
                    <div>
                        <div class="Title-4">IVA</div>
                        <div class="textPanel"><b>$22.790,31</b></div>
                    </div>
                    <div>
                        <div class="Title-4">SUBTOTAL</div>
                        <div class="textPanel"><b>$119.494,00</b></div>
                    </div>
                    <div>
                        <div class="Title-4 right">HACER PEDIDO DE NUEVO</div>
                    </div>

                </div>
            </div>
        </div>

        <!--Accordion #3 -->
        <div class="container">
            <div class="grid-container">
                <div class="grid-col ">
                    <div class="Title-1 ">Fecha de Pedido</div>
                    <div class="SubTitle-1 ">20 de Junio de 2020</div>
                </div>
                <div class="grid-col ">
                    <div class="Title-2 ">TOTAL</div>
                    <div class="SubTitle-2 ">$ 30.500,00</div>
                </div>
                <div class="grid-col-right ">
                    <div class="Title-3 ">#82620200905-01</div>
                    <div class="boton bg-primary ">Enviado</div>
                </div>
                <div class="col-right ">
                    <div class="Title-5 ">+</div>

                </div>
            </div>
        </div>
        <div class="panel">
            <div class="Title-4 ">ESTADO DEL PEDIDO</div>
            <div class="sectionPanel">
                <img src="../../../../assets/img/pedidos.png" alt="perfume" width="100%">
            </div>

            <div class="Title-4 ">DETALLES</div>
            <div class="sectionPanel">
                <div class="grid-details">
                    <div class="grid-2 ">
                        <div class="Title-4">DIRECCIÓN DE ENTREGA</div>
                        <div class="textPanel">Carrera 17 # 30 - 54 Casa 23 Torre 13 - Apartamento - 451 131111 Chía
                            CUNDINAMARCA Colombia </div>
                    </div>
                    <div class="grid-3 ">
                        <div class="Title-4">RECOMENDACIONES</div>
                        <div class="textPanel">Ninguna</div>
                    </div>
                    <div class="grid-4 ">
                        <div class="Title-4">TIPO COMPRA</div>
                        <div class="textPanel">Personal</div>
                    </div>
                </div>
            </div>
            <div class="Title-4 ">PRODUCTOS</div>
            <div class="sectionPanel">
                <div class="grid-products">
                    <div class="grid-img">
                        <img src="../../../../assets/img/Perfume.png" alt="perfume" width="100%">
                    </div>
                    <div>
                        <div class="Title-4 ">PERFUME PERSONALIZADO - ANASTACIA</div>
                        <div class="textPanel ">Entrega estimada hasta 18/08/2020</div>
                        <div class="textPanel "><b><u>Rastrear Pedido: 61410077996</u></b></div>
                    </div>
                    <div>
                        <div class="Title-4 ">CANTIDAD</div>
                        <div class="textPanel "><b>1 und.</b></div>
                    </div>
                    <div>
                        <div class="Title-4 ">PRECIO</div>
                        <div class="textPanel "><b>$48.600,00</b></div>
                    </div>
                    <div>
                        <div class="Title-4 ">IVA</div>
                        <div class="textPanel "><b>$11.400,00</b></div>
                    </div>
                    <div>
                        <div class="Title-4 ">SUBTOTAL</div>
                        <div class="textPanel "><b>$60.000,00</b></div>
                    </div>
                    <div>
                        <div class="Title-4 right ">HACER PEDIDO DE NUEVO</div>
                    </div>

                </div>
            </div>
            <div class="sectionPanel ">
                <div class="grid-products ">
                    <div class="grid-img ">
                        <img src="../../../../assets/img/humificador.png" alt="perfume" width="100%">
                    </div>
                    <div>
                        <div class="Title-4">HUMIFICADOR ULTRASONICO ACUA</div>
                        <div class="textPanel">Entrega estimada hasta 18/08/2020</div>
                        <div class="textPanel"><b><u>Rastrear Pedido: 61410077996</u></b></div>
                    </div>
                    <div>
                        <div class="Title-4">CANTIDAD</div>
                        <div class="textPanel"><b>1 und.</b></div>
                    </div>
                    <div>
                        <div class="Title-4">PRECIO</div>
                        <div class="textPanel"><b>$97.158,69</b></div>
                    </div>
                    <div>
                        <div class="Title-4">IVA</div>
                        <div class="textPanel"><b>$22.790,31</b></div>
                    </div>
                    <div>
                        <div class="Title-4">SUBTOTAL</div>
                        <div class="textPanel"><b>$119.494,00</b></div>
                    </div>
                    <div>
                        <div class="Title-4 right">HACER PEDIDO DE NUEVO</div>
                    </div>

                </div>
            </div>
        </div>

        <!--Accordion #4 -->

        <div class="container">
            <div class="grid-container">
                <div class="grid-col">
                    <div class="Title-1 ">Fecha de Pedido</div>
                    <div class="SubTitle-1 ">20 de Junio de 2020</div>
                </div>
                <div class="grid-col">
                    <div class="Title-2">TOTAL</div>
                    <div class="SubTitle-2 ">$ 98.949,00</div>
                </div>
                <div class="grid-col-right">
                    <div class="Title-3 ">#82620200905-01</div>
                    <div class="boton bg-success ">Entregado</div>
                </div>
                <div class="col-right">
                    <div class="Title-5 ">+</div>

                </div>
            </div>
        </div>
        <div class="panel">
            <div class="Title-4 ">ESTADO DEL PEDIDO</div>
            <div class="sectionPanel ">
                <img src="../../../../assets/img/pedidos.png" width="100%">
            </div>

            <div class="Title-4 ">DETALLES</div>
            <div class="sectionPanel ">
                <div class="grid-details ">
                    <div class="grid-2 ">
                        <div class="Title-4 ">DIRECCIÓN DE ENTREGA</div>
                        <div class="textPanel ">Carrera 17 # 30 - 54 Casa 23 Torre 13 - Apartamento - 451 131111 Chía
                            CUNDINAMARCA Colombia </div>
                    </div>
                    <div class="grid-3 ">
                        <div class="Title-4 ">RECOMENDACIONES</div>
                        <div class="textPanel ">Ninguna</div>
                    </div>
                    <div class="grid-4 ">
                        <div class="Title-4 ">TIPO COMPRA</div>
                        <div class="textPanel ">Personal</div>
                    </div>
                </div>
            </div>
            <div class="Title-4 ">PRODUCTOS</div>
            <div class="sectionPanel">
                <div class="grid-products">
                    <div class="grid-img">
                        <img src="../../../../assets/img/Perfume.png" alt="perfume" width="100%">
                    </div>
                    <div>
                        <div class="Title-4 ">PERFUME PERSONALIZADO - ANASTACIA</div>
                        <div class="textPanel ">Entrega estimada hasta 18/08/2020</div>
                        <div class="textPanel "><b><u>Rastrear Pedido: 61410077996</u></b></div>
                    </div>
                    <div>
                        <div class="Title-4 ">CANTIDAD</div>
                        <div class="textPanel "><b>1 und.</b></div>
                    </div>
                    <div>
                        <div class="Title-4 ">PRECIO</div>
                        <div class="textPanel "><b>$48.600,00</b></div>
                    </div>
                    <div>
                        <div class="Title-4 ">IVA</div>
                        <div class="textPanel "><b>$11.400,00</b></div>
                    </div>
                    <div>
                        <div class="Title-4 ">SUBTOTAL</div>
                        <div class="textPanel "><b>$60.000,00</b></div>
                    </div>
                    <div>
                        <div class="Title-4 right ">HACER PEDIDO DE NUEVO</div>
                    </div>

                </div>
            </div>
            <div class="sectionPanel ">
                <div class="grid-products ">
                    <div class="grid-img ">
                        <img src="../../../../assets/img/humificador.png" alt="perfume " width="100%">
                    </div>
                    <div>
                        <div class="Title-4">HUMIFICADOR ULTRASONICO ACUA</div>
                        <div class="textPanel">Entrega estimada hasta 18/08/2020</div>
                        <div class="textPanel"><b><u>Rastrear Pedido: 61410077996</u></b></div>
                    </div>
                    <div>
                        <div class="Title-4">CANTIDAD</div>
                        <div class="textPanel"><b>1 und.</b></div>
                    </div>
                    <div>
                        <div class="Title-4">PRECIO</div>
                        <div class="textPanel"><b>$97.158,69</b></div>
                    </div>
                    <div>
                        <div class="Title-4">IVA</div>
                        <div class="textPanel"><b>$22.790,31</b></div>
                    </div>
                    <div>
                        <div class="Title-4">SUBTOTAL</div>
                        <div class="textPanel"><b>$119.494,00</b></div>
                    </div>
                    <div>
                        <div class="Title-4 right">HACER PEDIDO DE NUEVO</div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <!--Finish of Accordion-->
</div>

<!--Finish of index's content-->