/* Index's Content Styles */

#indexContent {
    position: relative;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 10px;
  }
  
/* Accordion Container */

.container {
    background-color: #f6f1eb;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #c7c5c5;
    border-radius: 5px 5px 2px 2px;
    height: auto;
    width: auto;
}

/* Accordion Container */
.oficinaVirtualContainer {
    width: auto;
    height: auto;
    background-color: #f6f1eb;
    padding: 10px;
}

/*  TEXT ACCORDION */

.textPanel {
    color: #707070;
    font-size: 18px;
    padding: 15px 0 0 0;
}

.Title-1 {
    color: #0cbed2;
    font-weight: bold;
    font-size: 20px;
}

.Title-2 {
    color: #0cbed2;
    font-weight: bold;
    font-size: 22px;
}

.Title-3 {
    margin-top: 0 auto;
    color: #707070;
    font-size: 13px;
}

.Title-4 {
    color: #0cbed2;
    font-weight: bold;
    font-size: 15px;
    margin-top: 15px;
    /*  border: 1px solid #0d63e4; */
}

.Title-5 {
    color: #0cbed2;
    font-weight: bold;
    font-size: 30px;
}


/*  SUBTITLE ACCORDION */

.SubTitle-1 {
    color: #928f8d;
    font-size: 14px;
    margin-top: 5px;
}

.SubTitle-2 {
    color: #707070;
    font-size: 22px;
    margin-top: 5px;
}

.boton {
    margin-top: 4px;
    font-size: 13px;
    text-align: right;
    color: #ffffff;
    font-weight: bold;
    font-size: 100%;
    text-align: center;
    width: 90%;
    border-radius: 5px;
    padding: 5%;
}


/*  COLOR */

.bg-primary {
    background-color: #0CBDD2;
}

.bg-danger {
    background-color: #FF0101;
}

.bg-warning {
    background-color: #FFB301;
}

.bg-success {
    background-color: #0CD276;
}


/* Panel */

.panel {
    padding: 15px 15px 15px 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    width: auto;
    height: auto;
    background-color: rgb(255, 254, 254);
    border: 1px solid #c7c5c5;
}

.sectionPanel {
    /* border: 1px solid #e61010; */
    margin-top: 10px;
    width: auto;
    height: auto;
}


/* GRID-CONTAINER */

.grid-container {
    display: grid;
    grid-template-columns: 40% 30% 20% 10%;
}

.grid-col {
    background-color: #f6f1eb;
    padding: 10px;
}

.grid-col-right {
    background-color: #f6f1eb;
    padding: 5% 10% 5% 45%;
}

.col-right {
    background-color: #f6f1eb;
    padding: 15% 40%
}

.grid-details {
    grid-template-columns: 10% 30% 20% 40%;
    display: grid;
}

.grid-products {
    grid-template-columns: 10% 30% 10% 10% 10% 10% 20%;
    display: grid;
    height: 100%;
}

.grid-img {
    padding: 10% 10% 10% 12%;
}

.right {
    padding: 0 0 0 24%;
}

.grid-2 {
    grid-column: 2 / 3;
}

.grid-3 {
    grid-column: 3 / 4;
}

.grid-4 {
    grid-column: 4;
}


