
    <!--Begining of index's content-->
    <div id="indexContent">
        <div class="containerVirtualOffice">
            <div class="virtualOffice">
                <div class="header">
                    <div class="decorationHeader"></div>
                    <h3>Oficina Virtual</h3>
                    <div class="decorationHeader"></div>
                </div>
                <div class="options">
                    <div class="option">
                        Pedidos
                        <a routerLink="/Pedidos"></a>
                    </div>
                    <div class="option">
                        Mis Productos
                        <a href="#"></a>
                    </div>
                    <div class="option">
                        Mis Datos
                        <a routerLink="/Datos"></a>
                    </div>
                    <div class="option">
                        Tickets
                        <a routerLink="/Tickets"></a>
                    </div>
                    <div class="option">
                        Clientes
                        <a href="#"></a>
                    </div>
                    <div class="option">
                        Mi Catalogo
                        <a href="#"></a>
                    </div>
                    <div class="option">
                        Estado de Cuenta
                        <a href="#"></a>
                    </div>
                </div>
                <div class="news">NOTICIAS Y PROMOS ACUA</div>
            </div>
        </div>   
    </div>

    <router-outlet></router-outlet>

