   <!--Begining of Menu-->
    

 <div id="mainMenu">

    <div class="logo"><a href="index.html"><img src="../../assets/img/Logo Acua fondo Transparente.png" alt="logo"></a> 
    </div>

    <div class="linksMenu">

        <div class="blockTextMenu">
            <div class="control control--effects">
                <button class="control__btn" data-fx="vida" > INICIO </button>
            </div>
    </div>

        <div class="blockTextMenu">
                <div class="control control--effects">
                    <button class="control__btn" data-fx="vida" > MUJERES </button>
                </div>
        </div>

        <div class="blockTextMenu">
                <div class="control control--effects">
                    <button class="control__btn" data-fx="vida" > HOMBRES </button>
                </div>
        </div>
        
        <div class="blockTextMenu">
            <div class="control control--effects">
                <button class="control__btn" data-fx="vida" > ACCESORIOS </button>
            </div>
        </div>
        <div class="blockTextMenu boutique">
            <a href="#">BOUTIQUES</a> <br>
        </div>
    </div>

    <div class="socialMedia">
        <div class="socialLogo"> <a href="https://www.facebook.com/acuacompany" target="_blank" ><img class="socialIcon"
                    src="../../assets/img/facebook-circular-logo.svg" alt="facebook"></a></div>
        <div class="socialLogo"><a href="https://twitter.com/acuacompany" target="_blank"><img class="socialIcon" src="../../assets/img/twitter.svg"
                    alt="twitter"></a></div>
        <div class="socialLogo"> <a href="https://www.instagram.com/acuacompany/?hl=es-la" target="_blank"><img class="socialIcon" src="../../assets/img/instagram.svg"
                    alt="instagram"></a></div>
    </div>
</div>
<!--Finish of Menu-->

